<div class="nav-background"></div>
<section id="intro" class="container">
    <p class="subheading">We are here to create an audience engaged in virtual reality.</p>
    <hr>
</section>
<section id="about" class="container">
    <p class="p-type">GoView - during this project people are meeting with virtual reality, new technologies and creation of various applications.</p>
    <p class="p-type">Object - to create a wider virtual reality developers community.</p>
    <p class="p-type">Also this project covers other spheres such as: Attending events and organizing them, creation of workshops, meetings, discussing technologies and demonstrating them.</p>
</section>
<section id="intro" class="container">
    <p class="subheading">Environment surrounding us encourages to move forward. This is how it looks like.</p>
    <hr>
</section>
<section id="video" class="container">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/ZpHbnwgHE6s" frameborder="0" allowfullscreen></iframe>
</section>
<section id="intro" class="container" style="padding-top: 0;">
    <p class="subheading" style="text-align: center; margin-bottom: 20px;">Partners</p>
    <img style="width: 60%; display: block; margin: 0 auto" src="https://developers.google.com/_static/b978c21594/images/redesign-14/lockup-color.svg" alt="Google developers">
</section>
