<footer>
    <section class="social-media">
        <div class="container">
            <p>Follow us on:</p>
            <ul>
				<li>
                    <a target="_blank" href="https://www.linkedin.com/company/go-view" title="LinkedIn">
                        <i class="fa fa-linkedin" aria-hidden="true"></i>
                    </a>
                </li>
                <li>
                    <a target="_blank" href="https://plus.google.com/b/117754469241092457397/117754469241092457397" title="Google Plus">
                        <i class="fa fa-google-plus" aria-hidden="true"></i>
                    </a>
                </li>
                <li>
                    <a target="_blank" href="https://twitter.com/GoViewVr" title="Twitter">
                        <i class="fa fa-twitter" aria-hidden="true"></i>
                    </a>
                </li>
                <li>
                    <a target="_blank" href="https://www.facebook.com/goview" title="Facebook">
                        <i class="fa fa-facebook" aria-hidden="true"></i>
                    </a>
                </li>
                <li>
                    <a target="_blank" href="https://www.youtube.com/channel/UCpuGZbNrKqc-pIDRhU0NPUA" title="Youtube">
                        <i class="fa fa-youtube" aria-hidden="true"></i>
                    </a>
                </li>
                <li>
                    <a target="_blank" href="https://www.instagram.com/goviewvr/" title="Instagram">
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                    </a>
                </li>
            </ul>
        </div>
    </section>
    <section class="container footer-links">
        <img src="/../dist/img/go_view_text_logo.png" alt="GoView text logo"/>
        <ul>
            <li><a href="/home" title="Home">Home</a></li>
			<li><a href="/about" title="About">About</a></li>
            <li><a href="/events" title="Events">Events</a></li>
            <li><a href="/news" title="News">News</a></li>
            <li><a href="/volunteer" title="Volunteer">Join us</a></li>
        </ul>
    </section>
</footer>