<header>
    
    <nav class="container">
        <div class="desktop-nav">
            <a class="navbar-icon" ng-click="mc.showBar();"><i class="fa fa-bars" aria-hidden="true"></i></a>
            <a class="logo" href="/home"><img src="/../dist/img/go_view_white_logo.png" alt="GoView white logo"/></a>
            <ul class="animated slideInUp fadeInUp">
                <li><a href="/about">About</a></li>
                <li><a href="/events">Events</a></li>
				<li><a href="/news">News</a></li>
                <li><a href="/volunteer">Join us</a></li>
            </ul>
            <!--<button id="changeLang" type="submit" ng-click="mc.changeLanguage('en');">en</button>-->
        </div>
        <div class="mobile-nav">
            <div class="slide-header">
                <img src="/../dist/img/go_view_logo.png" alt="GoView logo">
            </div>
            <ul class="navigation">
                <li><a href="/home">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/events">Events</a></li>
                <li><a href="/news">News</a></li>
                <li><a href="/volunteer">Join us</a></li>
            </ul>
            <p>Follow us on:</p>
            <ul class="social-media">
				<li>
                    <a href="https://www.linkedin.com/company/go-view" title="LinkedIn">
                        <i class="fa fa-linkedin" aria-hidden="true"></i>LinkedIn
                    </a>
                </li>
                <li>
                    <a href="https://plus.google.com/b/117754469241092457397/117754469241092457397" title="Google Plus">
                        <i class="fa fa-google-plus" aria-hidden="true"></i>Google plus
                    </a>
                </li>
                <li>
                    <a href="https://twitter.com/GoViewVr" title="Twitter">
                        <i class="fa fa-twitter" aria-hidden="true"></i>Twitter
                    </a>
                </li>
                <li>
                    <a href="https://www.facebook.com/goview" title="Facebook">
                        <i class="fa fa-facebook" aria-hidden="true"></i>Facebook
                    </a>
                </li>
                <li>
                    <a href="https://www.youtube.com/channel/UCpuGZbNrKqc-pIDRhU0NPUA" title="Youtube">
                        <i class="fa fa-youtube" aria-hidden="true"></i>Youtube
                    </a>
                </li>
                <li>
                    <a href="https://www.instagram.com/goviewvr/" title="Instagram">
                        <i class="fa fa-instagram" aria-hidden="true"></i>Instagram
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</header>