<div class="nav-background"></div>
<section id="intro" class="container">
    <p class="subheading">This is #goview in real-time.</p>
    <hr>
</section>
<section id="news" class="container">
    <div class="new">
        <img src="/../dist/img/launch.jpg">
        <div class="new-content">
            <p class="data-info">2017 june the 6th</p>
            <p class="p-type">”<a class="map-link" href="">Young business forum</a>” #launch was an amazing event for us. Participants were able to try Google cardboards and create photospheres with “<a class="map-link" href="https://play.google.com/store/apps/details?id=com.google.android.street&hl=en">Google street view</a>” application. Young people to experience VR motivate us to move forward and achieve our main goal! Together with ”<a class="map-link" href="http://www.bznstart.lt">BZN start</a>” decided to stay in touch, awesome!</p>
        </div>
    </div>
    <div class="new">
        <img src="/../dist/img/login.jpg">
        <div class="new-content">
            <p class="data-info">2017 May the 24th - 26th</p>
            <p class="p-type">“<a class="map-link" href="http://login.lt/en/festival/about-us">LOGIN 2017</a>” is the largest tech and innovation festival in Baltic States. And this year we had the opportunity to be there and talk about virtual reality in schools. We did the hard work to understand what students and teachers want to see in our upcoming VR education platform. Connections between different type of people helps us to create a biggest VR developer community at schools.</p>
        </div>
    </div>
    <div class="new">
        <img src="/../dist/img/google_io.jpg">
        <div class="new-content">
            <p class="data-info">2017 may the 17th</p>
            <p class="p-type">”<a class="map-link" href="https://events.google.com/io/extended/">Google I/O Extended</a>” event was hosted in  <a class="map-link" href="https://www.facebook.com/events/330621560690910/">Telšiai</a>. With Google cardboard our team created a virtual journeys for participants, they had opportunity to learn more about virtual reality possibilities. More than 30 people had fantastic time with snacks and drinks to watch Google I/O 2017 keynote session live stream. We are really happy that we can share the news about technologies with you !</p>
        </div>
    </div>
    <div class="new">
        <img src="/../dist/img/student.jpg">
        <div class="new-content">
            <p class="data-info">2017 february the 22th</p>
            <p class="p-type">Today we joined the development of “<a class="map-link" href="http://hackergames.lt/">Hacker games</a>” event. We had a meeting with “<a class="map-link" href="http://www.startuplithuania.lt/" target="_blank">Startup Lithuania</a>” about upcoming hackathon. More and more people are creating products for virtual reality platforms. That is why together with “GDG Vilnius” we agreed to prompt people to take interest in virtual reality. We will support this event by supplying Google cardboard, advise people and help create cool applications. Creators that make smartphone Virtual reality applications will be rewarded two Google cardboard. Are you with us?</p>
        </div>
    </div>
</section>