<div class="nav-background"></div>
<section id="intro" class="container">
    <p class="subheading">Alright then. If you are ready for future of virtual reality projects?</p>
    <hr>
</section>
<section id="volunteer" class="container">
    <ul>
        <li>
            <h4>Graphic designer</h4>
            <p class="p-type">If you are talented graphic designer with strong imagination and creative capabilities to create graphic solutions, please write us: <a class="map-link" href="mailto:info@goview.lt">info@goview.lt</a></p>
        </li>
        <li>
            <h4>UX/UI designer</h4>
            <p class="p-type">You are a talented UX/UI designer and can be solely responsible for working on and conceiving creative design solutions. <a class="map-link" href="mailto:info@goview.lt">info@goview.lt</a></p>
        </li>
        <li>
            <h4>Copywriter</h4>
            <p class="p-type">People around you think you are the best writer around and you are able to freely express yourself in any given topic. Then this might be your opportunity to join our team: <a class="map-link" href="mailto:info@goview.lt">info@goview.lt</a></p>
        </li>
        <li>
            <h4>Front-end developer</h4>
            <p class="p-type">As a Front-end developer you have to be exploding with creative ideas, without a problem optimize any website and make it as clean as possible. If that fits your personality, it is time to get in touch with us. <a class="map-link" href="mailto:info@goview.lt">info@goview.lt</a></p>
        </li>
        <li>
            <h4>Back-end developer</h4>
            <p class="p-type">Your friends think you are a rocket scientist and whenever you are behind closed doors, you are thinking about SQL injection. Also you are familiar with common CMS systems and web application frameworks.s <a class="map-link" href="mailto:info@goview.lt">info@goview.lt</a></p>
        </li>
        <li>
            <h4>Animator</h4>
            <p class="p-type">You will be responsible for creating advertisements and clips for social media alongside other members of the social media team. <a class="map-link" href="mailto:info@goview.lt">info@goview.lt</a></p>
        </li>
        <!--<li>
            <h4>HR coordinator</h4>
            <p class="p-type"> <a class="map-link" href="mailto:info@goview.lt">info@goview.lt</a></p>
        </li>-->
        <li>
            <h4>Marketing manager</h4>
            <p class="p-type">You know what it takes to expand our project fan page? You have strong communication skills and are able to engage users and manage to be communicative? If you think you are right for this job contact us: <a class="map-link" href="mailto:info@goview.lt">info@goview.lt</a></p>
        </li>
        <li>
            <h4>Social media specialist</h4>
            <p class="p-type">If your English language skills are more than perfect, you are a social media addict and have expert eye for quality content, you should apply to join our social media team. <a class="map-link" href="mailto:info@goview.lt">info@goview.lt</a></p>
        </li>
    </ul>
</section>